@model Ball[]

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

@if (Model.Length == 0)
{
    <p>Ничего не найдено</p>
}
else
{
    <ul>
        @foreach(var ball in Model)
        {
            <li><a href = "@Url.Action("Index", "Ball", new {id = ball.Id})">@ball.Brand @ball.Model</a></li>
        }
    </ul>
}